/* Mobile config */
@media only screen 
    and (device-width : 375px)
    and (device-height: 667px)
    and (-webkit-device-pixel-ratio : 2)
{

.climbers {
    height: 115vh;
    width: 100vw;
    margin: 5vh auto;
}

.climbers-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 70px;
    text-align: center;
    color: #285D81;
    margin: auto;
    }

.climbers-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #285D81;
    margin: 5% auto;
    width: 80vw;
    height: 20vh;
}

.carousel-arrow {
    display: none;
}

.carousel {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-top: 30px;
}

.climbers-button {
    width: 60vw;
    height: 60px;
    margin: 22vh 20vw;
    background: #9AF2D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
}

 /* Desktop config */
 @media screen and (min-width: 1024px) and (max-width: 2560px) 
{
.climbers {
    height: 100vh;
    width: 1172px;
    margin: auto;
}

.climbers-title {
    font-family: Montserrat;
    width: 171px;
    padding-top: 80px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    color: #285D81;
    margin: auto;
}

.climbers-text {
    width: 570px;
    top: 90vh;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.carousel-arrow {
    margin-top: 8%;
    cursor: pointer;
}

.climbers-button {
    position: absolute;
    width: 246px;
    height: 60px;
    top: 180vh;
    left: 42vw;
    background: #9AF2D3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

}


